<div class="window">
  <div class="title-bar">
    <div class="title-bar-text">micsim</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <menu role="tablist">
      @for (tab of tabs; track $index) {
        @if (selectedTab === tab) {
          <li role="tab" aria-selected="true" (click)="clickTab(tab)"><a>{{ tab }}</a></li>
        }
        @else {
          <li role="tab" aria-selected="false" (click)="clickTab(tab)"><a>{{ tab }}</a></li>
        }
      } 
    </menu>
    <div class="window" role="tabpanel">
      <div class="window-body">
        <p >mostra a {{ selectedTab }}</p>
      </div>
    </div>
  </div>
</div>


<router-outlet />
